USE [master]
GO
/****** Object:  Database [Manufacture]    Script Date: 3/4/2023 9:35:05 AM ******/
CREATE DATABASE [Manufacture]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Manufacture', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Manufacture.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Manufacture_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Manufacture_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Manufacture].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Manufacture]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 3/4/2023 9:35:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](500) NULL,
	[Cost] [decimal](18, 0) NULL,
	[Description] [varchar](max) NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Name], [Cost], [Description], [CreatedDate]) VALUES (1, N'Tissue Paper', CAST(200 AS Decimal(18, 0)), N'Tissue Paper Role Imtiaz Store', NULL)
INSERT [dbo].[Products] ([Id], [Name], [Cost], [Description], [CreatedDate]) VALUES (2, N'New Data', CAST(0 AS Decimal(18, 0)), N'please check sales business product table', NULL)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
USE [master]
GO
